header {
    background: #008000;
}
body 
{background-color:#333} 
<<<<<<< HEAD

.img-responsive{
	  width: 300px;
    height: 300px;
    }
    #header1 
    {
    	 width: 600px;
    height: 600px;
    }
=======
>>>>>>> origin/master
